@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.pic {
	border-radius: 30px;
}

.shift {
	margin-left: 20px;
}

.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

/*navbar*/
.navbar {
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Ubuntu', 'sans-serif;';
	transition: all 0.3s ease;
	background: #00274c;
}

.navbar.sticky {
	padding: 15px 0;
	background: #00274c;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
}

.top_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.vid1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 2%;
	width: 30%;
	padding: 2.5px;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

.vid2 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 30%;
	padding: 2.5px;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

.information {
	font-family: 'Poppins', sans-serif;
	position: relative;
	text-align: justify;
	color: #00274c;
	width: 32%;
	right: 2%;
}

.mid_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.gyroscope {
	background: #e3e3e3;
	width: 40%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	left: 2%;
	position: relative;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.vid3 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 30%;
	padding: 2.5px;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

@media (max-width: 900px){

	.vid1, .vid2, .information {
		flex: 100%;
		left: 0%;
		right: 0%;
		margin-bottom: 15px;
	}
	.information {
		padding: 15px;
	}
	.top_info {
		top: 80px;
	}
	.navbar .logo a{
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}
	.navbar .menu li a{
		font-size: 12px;
	}
	.text {
		font-size: 18px;
	}
}